.container {
  display: grid;
  grid-template-columns: auto auto;

  column-gap: 1.8rem;
  justify-content: end;
  justify-items: center;
  grid-template-rows: auto auto;
}

.topGraphic {
  grid-column: 1/3;
  grid-row: 1/2;
}
.leftGraphic {
  grid-column: 1/2;
  grid-row: 2/3;
}
.rightGraphic {
  grid-column: 2/3;
  grid-row: 2/3;
}
